{{#section 'css'}}
    <link rel="stylesheet" href="/stylesheets/SignIn.css"> 
{{/section}}
    <div class="d-flex justify-content-between align-items-center">
        <div class="left-body"></div>

        <div class="body">
            <div class="d-flex justify-content-center mb-3 mt-3">
                <a class="navbar-brand d-flex align-items-center logo" href="#">
                    <div class="d-inline-block me-2 logo-icon">4P</div>
                    NEWS
                </a>
            </div>
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form action="/account/changePassword?_method=PATCH" method="POST" id="form">
                    <div class="text-center mb-3">
                        <p class="title">Đổi mật khẩu</p>
                    </div>
                    <div class="text-center mb-3">
                        <p class="title">
                            Xin chào
                            {{#if currentUser}}
                                <span>{{currentUser.fullName}}</span>
                                
                            {{/if}}
                        </p>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <div class="sub-body">
                            <!-- Old Password input -->
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password" name="user[rawOldPassword]" required>
                                <label for="floatingPassword">Mật khẩu cũ</label>
                            </div>

                            <!-- New Password input -->
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingNewPassword"
                                    placeholder="Password" name="user[rawNewPassword]">
                                <label for="floatingPassword" required>Mật khẩu mới</label>
                            </div>

                            <!-- Xác nhận mật khẩu -->
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingNewPasswordConfirm"
                                    placeholder="Password">
                                <label for="floatingPassword" required>Xác nhận mật khẩu mới</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <button class="btn btn-primary sub-body" type="submit">Xác nhận</button>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <a  href="/user/{{currentUser._id}}/profile" class="btn btn-outline-secondary sub-body">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="right-body"></div>
    </div>
{{#section 'js'}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission to check validation

            // Get the password fields
            const newPassword = document.getElementById('floatingNewPassword').value;
            const confirmPassword = document.getElementById('floatingNewPasswordConfirm').value;

            // Check if passwords match
            if (newPassword !== confirmPassword) {
                // SweetAlert for password mismatch
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Mật khẩu mới và xác nhận mật khẩu không khớp!',
                    confirmButtonText: 'Thử lại'
                });
                return;
            }
            this.submit();
        });
    </script>
{{/section}}

    